.button {
  width: 100px;
  height: 40px;

  font-family: "Montserrat";
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  color: transparent;

  border: 1px solid transparent;
  border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  transition: all 0.5s ease;

  outline: none;

  text-decoration: none;

  &:hover {
    background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
    transition: all 0.5s ease;
    color: #111111;

    text-decoration: none;
  }
}

.button__small {
  width: 10%;
  height: 3.3%;

  font-family: "Montserrat";
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  color: transparent;
  padding-left: 0.2%;

  border: 2px solid transparent;
  border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  transition: all 0.5s ease;

  outline: none;

  text-decoration: none;

  &:hover {
    background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
    transition: all 0.5s ease;
    color: #111111;
    text-decoration: none;
  }
}
