.home-header {
  width: 100%;
  height: 100vh;
  @include grid-center;

  h1 {
    width: 100%;
    min-height: 20vh;
    text-align: center;
    animation: titleswell 4s infinite ease;
  }

  @keyframes titleswell {
    0% {
      font-size: 4em;
    }
    25% {
      font-size: 5em;
    }
    50% {
      font-size: 4em;
    }
    75% {
      font-size: 3em;
    }
    100% {
      font-size: 4em;
    }
  }
}

.home-info {
  width: 100%;
  @include grid-center;
}
