.modal-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 45px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  .close-button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-60%);
  }

  .modal-content {
    width: 80%;
    min-height: 50%;
    padding: 25px;
    background: #050505;

    @mixin form-field($field, $type) {
      .#{$field} {
        width: 95%;
        position: relative;
        height: 50px;
        background: pink;
        overflow: hidden;
        margin-bottom: 30px;
        margin-left: 2.5%;
      }

      .#{$field} #{$type} {
        width: 100%;
        height: 100%;
        color: white;
        padding-top: 20px;
        border: none;
        outline: none;
        background: linear-gradient(to top, #000000, #050505);
      }

      .#{$field} label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      .#{$field} label::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid pink;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }

      .content-#{$field} {
        font-family: "Montserrat";
        font-size: 1.5em;
        color: white;

        @media screen and (max-width: 1000px) {
          font-size: 0.75em;
        }

        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
      }

      .#{$field} #{$type}:focus + .label-#{$field} .content-#{$field},
      .#{$field} #{$type}:valid + .label-#{$field} .content-#{$field} {
        transform: translateY(-1.2em);
        font-size: 1em;
        color: white;
      }

      .#{$field} #{$type}:focus + .label-#{$field}::after,
      .#{$field} #{$type}:valid + .label-#{$field}::after {
        transform: translateX(0%);
      }
    }

    @include form-field(name, input);
    @include form-field(email, input);
    @include form-field(message, textarea);

    .message,
    .message textarea {
      height: 20vh;
      resize: none;
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
    }

    input {
      font-family: "Montserrat", sans-serif;

      width: 75px;
      height: 30px;
    }

    .content-message {
      height: 50px;
      top: 0.9em;
    }

    .submit-button-field {
      display: grid;
      @include grid-center;
    }
  }
}
