$twitterBlue: #1da1f2;

.twitter-container {
  width: 100%;
  @include grid-center;

  .twitter {
    width: 75px;
    height: 25px;
    background: $twitterBlue;
    color: white;
    font-family: "helvetica", sans-serif;
    font-size: 1em;
    text-decoration: none;
    display: grid;
    place-items: center center;
    justify-content: center;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    margin: auto;
  }
}
