* {
  font-family: "Lato", "Monserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
  font-family: "Oswald", "Lato", "Monserrat", sans-serif;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  color: white;
  text-shadow: 3px -3px blue, -3px 3px red;
}

h3 {
  font-size: 2em;
  font-family: "Oswald", "Lato", "Monserrat", sans-serif;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  color: white;
  text-shadow: 3px -3px blue, -3px 3px red;
  margin: 40px 0 20px 0;
}

p {
  font-size: 0.75em;
  font-family: "Montserrat";
  color: white;
  line-height: 1.7em;
}

a {
  font-size: 1em;
  font-family: "Montserrat";
  color: #1da1f2;
  line-height: 1.7em;
}

.text-container {
  width: 80%;
  padding: 10px;
  margin: 50px 0 50px 0;
}

.text-container i {
  font-size: 0.8em;
}

.window {
  min-height: 100vh;
  width: 100%;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.window .main-content {
  width: calc(100% - 50px);
}

nav {
  z-index: 3;
  width: 50px;
  height: 100vh;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10% 50% 15% 20% 4%;
      grid-template-rows: 10% 50% 15% 20% 4%;
  background: #111111;
  border-right: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #ff5ffc 0%, #17beb9 100%);
     border-image: linear-gradient(155deg, #ff5ffc 0%, #17beb9 100%);
  border-image-slice: 1;
}

nav .nav-links {
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (25%)[4];
      grid-template-rows: repeat(4, 25%);
}

nav .nav-links .nav-link {
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  text-shadow: 3px -3px blue, -3px 3px red;
}

nav .nav-links__small {
  width: 100%;
  height: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
}

nav .nav-links__small .nav-link__small {
  font-size: 0.75em;
  text-decoration: none;
  color: white;
  text-shadow: 3px -3px blue, -3px 3px red;
}

.home-header {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.home-header h1 {
  width: 100%;
  min-height: 20vh;
  text-align: center;
  -webkit-animation: titleswell 4s infinite ease;
          animation: titleswell 4s infinite ease;
}

@-webkit-keyframes titleswell {
  0% {
    font-size: 4em;
  }
  25% {
    font-size: 5em;
  }
  50% {
    font-size: 4em;
  }
  75% {
    font-size: 3em;
  }
  100% {
    font-size: 4em;
  }
}

@keyframes titleswell {
  0% {
    font-size: 4em;
  }
  25% {
    font-size: 5em;
  }
  50% {
    font-size: 4em;
  }
  75% {
    font-size: 3em;
  }
  100% {
    font-size: 4em;
  }
}

.home-info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.twitter-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.twitter-container .twitter {
  width: 75px;
  height: 25px;
  background: #1da1f2;
  color: white;
  font-family: "helvetica", sans-serif;
  font-size: 1em;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.modal-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 51px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-wrapper .close-button {
  position: absolute;
  bottom: 15%;
  left: calc((100% - 50px) / 2);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-wrapper .modal-content {
  width: 80%;
  min-height: 50%;
  padding: 25px;
  background: transparent;
}

.modal-wrapper .modal-content .name {
  width: 95%;
  position: relative;
  height: 50px;
  background: pink;
  overflow: hidden;
  margin-bottom: 15px;
}

.modal-wrapper .modal-content .name input {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 20px;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#202020));
  background: linear-gradient(to top, #000000, #202020);
}

.modal-wrapper .modal-content .name label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modal-wrapper .modal-content .name label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #ff5ffc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.modal-wrapper .modal-content .content-name {
  font-family: "Montserrat";
  font-size: 1em;
  color: white;
  position: absolute;
  bottom: 17px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .modal-wrapper .modal-content .content-name {
    font-size: 0.75em;
  }
}

.modal-wrapper .modal-content .name input:focus + .label-name .content-name,
.modal-wrapper .modal-content .name input:valid + .label-name .content-name {
  -webkit-transform: translateY(-1.2em);
          transform: translateY(-1.2em);
  font-size: 0.8em;
  color: #17beb9;
}

.modal-wrapper .modal-content .name input:focus + .label-name::after,
.modal-wrapper .modal-content .name input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.modal-wrapper .modal-content .email {
  width: 95%;
  position: relative;
  height: 50px;
  background: pink;
  overflow: hidden;
  margin-bottom: 15px;
}

.modal-wrapper .modal-content .email input {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 20px;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#202020));
  background: linear-gradient(to top, #000000, #202020);
}

.modal-wrapper .modal-content .email label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modal-wrapper .modal-content .email label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #ff5ffc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.modal-wrapper .modal-content .content-email {
  font-family: "Montserrat";
  font-size: 1em;
  color: white;
  position: absolute;
  bottom: 17px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .modal-wrapper .modal-content .content-email {
    font-size: 0.75em;
  }
}

.modal-wrapper .modal-content .email input:focus + .label-email .content-email,
.modal-wrapper .modal-content .email input:valid + .label-email .content-email {
  -webkit-transform: translateY(-1.2em);
          transform: translateY(-1.2em);
  font-size: 0.8em;
  color: #17beb9;
}

.modal-wrapper .modal-content .email input:focus + .label-email::after,
.modal-wrapper .modal-content .email input:valid + .label-email::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.modal-wrapper .modal-content .message {
  width: 95%;
  position: relative;
  height: 50px;
  background: pink;
  overflow: hidden;
  margin-bottom: 15px;
}

.modal-wrapper .modal-content .message textarea {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 20px;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#202020));
  background: linear-gradient(to top, #000000, #202020);
}

.modal-wrapper .modal-content .message label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modal-wrapper .modal-content .message label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #ff5ffc;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.modal-wrapper .modal-content .content-message {
  font-family: "Montserrat";
  font-size: 1em;
  color: white;
  position: absolute;
  bottom: 17px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .modal-wrapper .modal-content .content-message {
    font-size: 0.75em;
  }
}

.modal-wrapper .modal-content .message textarea:focus + .label-message .content-message,
.modal-wrapper .modal-content .message textarea:valid + .label-message .content-message {
  -webkit-transform: translateY(-1.2em);
          transform: translateY(-1.2em);
  font-size: 0.8em;
  color: #17beb9;
}

.modal-wrapper .modal-content .message textarea:focus + .label-message::after,
.modal-wrapper .modal-content .message textarea:valid + .label-message::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.modal-wrapper .modal-content .message,
.modal-wrapper .modal-content .message textarea {
  height: 20vh;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95em;
}

.modal-wrapper .modal-content input {
  font-family: "Montserrat", sans-serif;
  width: 70px;
  height: 30px;
}

.modal-wrapper .modal-content .content-message {
  height: 50px;
  top: 0.9em;
}

.modal-wrapper .modal-content .submit-button-field {
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.modal-wrapper .modal-content .submit-btn {
  position: absolute;
  bottom: 25%;
  left: calc((100% - 50px) / 2);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  width: 100%;
  height: 10vh;
  padding: 0 10%;
  background: #111111;
  left: 50px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: inset 0px 3px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0px 3px rgba(255, 255, 255, 0.1);
}

.button {
  width: 90px;
  height: 25px;
  font-family: "Montserrat";
  font-size: 0.6em;
  letter-spacing: 2px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  color: transparent;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #111111;
  text-decoration: none;
}

.button__small {
  width: 70px;
  height: 30px;
  font-family: "Montserrat";
  font-size: 0.7em;
  letter-spacing: 2px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  color: transparent;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  text-decoration: none;
}

.button__small:hover {
  background: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #111111;
  text-decoration: none;
}

.locations-container {
  width: calc(100% - 50px);
  min-height: 100vh;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locations-container .card-container {
  width: 95%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.locations-container .card-container .classroom-card {
  z-index: 0;
  position: relative;
  width: 250px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background: #111111;
  -webkit-box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
     border-image: linear-gradient(155deg, #fb83fa 0%, #31bcb8 100%);
  border-image-slice: 1;
}

.locations-container .card-container .classroom-card .classroom__image-container {
  width: 100%;
  height: 20%;
}

.locations-container .card-container .classroom-card .classroom__info-container {
  width: 100%;
  color: white;
  font-size: 0.8em;
}

.locations-container .card-container .classroom-card .classroom__button-container {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  grid-template: "1fr 1fr" "1fr 1fr";
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locations-container .card-container .classroom-card .classroom__button-container .button {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=App.css.map */